<!DOCTYPE html>
<html lang="en">

<head>


    <title>les annonces</title>


</head>

<body>

<h1> les annonces</h1>

</body>

</html>
<!DOCTYPE html>
<html lang="en">

<head>


    <title>la page d'accueil</title>


</head>

<body>

<h1> accueil</h1>

</body>

</html>
